<section class="content-header">
  <h1>Exam Detail</h1>
  <ol class="breadcrumb">
    <li>
      <a href="#" routerLink="/"><i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li class="active" [routerLink]="['/exam']">Exam</li>
    <li class="active">Exam detail</li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
  <button class="btn btn-warning btnUpdate" style="width: 100px;margin-bottom: 10px"
    [routerLink]="['/exam', exam?.examId, 'update']">
    Update
  </button>


  <button class="btn btn-primary btnUpdate" (click)="export()" style="width: 100px;margin-bottom: 10px">
    Export
  </button>

  <button class="btn btn-success" style="width: 100px;margin-bottom: 10px">
    Approve
  </button>
  <div class="box box-warning" *ngIf="exam">
    <div class="box-header with-border">
      <b>
        <h3 class="text-center">{{ exam.title.toUpperCase() }}.</h3>
        <div class="pull-left" style="margin-left: 5%">
          Exam ID: {{exam.examId}}
          <p>Category: {{exam.category.caterogyName}} </p>
          <p>Duration: {{exam.duration}} minute(s)</p>
          <p>Note: {{exam.note}}</p>
        </div>
        <div class="pull-right" style="padding-right: 5%">
          <p>Number of question: {{ exam.numberOfQuestion }}</p>
          <p>Created at: {{ exam.createAt | date:'dd/MM/yyyy'}}</p>
          <p>
            Created by: {{ exam.userCreated.fullName }}
          </p>
        </div>
      </b>
    </div>

    <hr />
    <div style="margin-left: 5%">
      <div *ngFor="let q of exam.examQuestions; index as i">
        <label>Question {{ i + 1 }}:</label> {{ q.question.content }}
        <ng-template ngFor let-j [ngForOf]="q.choiceOrder.split(' ')">
          <div *ngIf="q.question.answers[j - 1].true === false; else template">
            <div class="checkbox">
              <label><input type="checkbox" value="" disabled />{{
                q.question.answers[j - 1].content
                }}</label>
            </div>
          </div>
          <ng-template #template>
            <div class="checkbox">
              <label style="color: red"><input type="checkbox" value="" disabled checked />{{
                q.question.answers[j - 1].content
                }}</label>
            </div>
          </ng-template>
        </ng-template>
      </div>
    </div>
    <br>
  </div>
</section>
