<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      Create new exam
      <!-- <small>Control panel</small> -->
    </h1>
    <ol class="breadcrumb">
      <li>
        <a routerLink="/"><i class="fa fa-dashboard"></i>Home</a>
      </li>
      <li class="active" [routerLink]="['/exam']">Exam</li>
      <li class="active">Create</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="box box-solid">
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <form [formGroup]="examFrm" class="form-horizontal col-xs-10" (ngSubmit)="onCreate()"  novalidate method="POST">
              <div class="box-body">
                <div class="form-group">
                  <label for="inputTitle" class="col-sm-2 control-label"
                    >Title</label>
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      id="inputTitle"
                      placeholder="Enter title of test"
                      formControlName="title"
                      [ngClass]="{
                        'is-valid': examFrm.get('title').valid,
                        'is-invalid':
                          examFrm.get('title').invalid && examFrm.get('title').touched
                      }"
                    />
                    <ng-template
                    [ngIf]="examFrm.get('title').invalid && examFrm.get('title').touched"
                  >
                    <br />
                    <div class="col alert alert-light" style="color: blue" role="alert"
                        *ngIf="examFrm.get('title').hasError('required')
                            && examFrm.get('title')?.touched">
                        Title is required!
                   </div>
                   </ng-template>
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label"
                    >Exam Category</label
                  >
                  <div class="col-sm-10">
                    <select formControlName="category"
                      class="form-control select2 select2-hidden-accessible"
                      style="width: 100%;"
                      tabindex="-1"
                      aria-hidden="true"
                    >
                      <option *ngFor="let category of categories" [ngValue]= "category">{{category.categoryName}}</option>
                    </select>
                    <div class="col alert alert-light" role="alert" style="color: blue"
                        *ngIf="examFrm.get('category').hasError('required')
                            && examFrm.get('category')?.touched">
                        Exam category is required!
                   </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="iNumQues" class="col-sm-2 control-label"
                    >Number Question</label
                  >

                  <div class="col-sm-10">
                    <input formControlName="numberquestion"
                      type="number"
                      class="form-control"
                      id="iNumQues"
                      placeholder="Number question"
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label for="iDuration" class="col-sm-2 control-label"
                    >Duration</label>

                  <div class="col-sm-10">
                    <input formControlName="duration"
                      type="number"
                      class="form-control"
                      id="iDuration"
                      placeholder="Duration"
                    />
                    <div class="col-10 alert alert-light" role="alert" style="color: blue"
                    *ngIf="examFrm.get('duration').hasError('required')
                        && examFrm.get('duration')?.touched">
                    Duration is required!
                    </div>
                  </div>
               </div>
                <div class="form-group">
                  <label for="iNote" class="col-sm-2 control-label" >Note</label>
                  <div class="col-sm-10">
                    <!-- <textarea id="editor1" name="editor1" rows="10" cols="130"></textarea> -->
                    <ckeditor formControlName="note"
                      [editor]="Editor"
                    ></ckeditor>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-10">
                    <button class="btn btn-primary mr-3" (click)="onCreate()">Create</button>
                    <button class="btn btn-primary" (click)="onReset()">Reset</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </section>
  <!-- /.content -->

